<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href= "/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header> 
    <div class="caja4">
    <div class="caja3">
        <img class="logo" src= "/img/mercado-liebre.svg">
        <br>
        <input class="barra-navegacion" type="search" placeholder="buscar productos">
        <button class="boton-buscar"> <i class="fa-solid fa-magnifying-glass"></i> </button> 
    </div>
        <br>
        <p class="p-cuotas"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
        <br>
    </div>
    </div>
    <br>

    <nav class="cuerpos-de-texto"> 
        <ul type="none" class="caja3">
            <li><a href="#">Ofertas</a></li> 
            <li><a href="#">Tiendas oficiales</a></li> 
            <li><a href="#">Vender</a></li> 
            <li><a href="#">Ayuda</a></li> 
            <br>
            <li><a href="#">Creá tu cuenta</i></a><i class="fa-solid fa-id-card"></i></li> 
            <li><a href="#">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-solid fa-bag-shopping"></i></li>
        </ul>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    </header>

    <div>   
        <img src="/img/home-banner.jpg" class="imagen">
    </div>
    <br>    

    
    <main>
        <form action="/login" method="POST">
        <br>
            <p>
                <label for="usuario">Nombre de usuario:</label>
                <input type="text" name="usuario" id="usuario" class="boton">
            </p>
            <br>
            <p>
                <label for="contraseña">Contraseña:</label>
                <input type="password" name="contraseña" class="boton">  
            </p>
            <br>
                <input type="button" value="ENVIAR" class="boton-final"> 
            <br>
            <br>

        </form>

    </main> 

<br>
    <footer>
    <i  class="fa-solid fa-credit-card" class="icono-footer"></i>
    <h2>Pagá con tarjeta o en efectivo</h2> 
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    <br>
    <i class="fa-solid fa-gift" class="icono-footer"></i>
    <h2>Envío gratis desde $ 2.500</h2> 
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <br>
    <i class="fa-solid fa-user-shield" class="icono-footer"></i>
    <h2>Seguridad, de principio a fin</h2> 
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    <br>
    </footer>

<h2 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2> 

</body>
</html>