
@import url('https://fonts.googleapis.com/css2? family=Roboto:wght@100&display=swap');

header {
    background-color : #EAC926;
    font-family:'Roboto', sans-serif;
    margin: auto;
    padding: 10px;
}

.cuerpos-de-texto{
font-size: 12px;
} 

.titulares{
font-size:24px
} 

.caja1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.precios{
 font-size: 18px;
 width: 30%;
} 

.descuentos{
font-size:16px;
color:#39b54a;
width: 30%;
}

.descripciones{
font-size: 16px;
color: #666;
text-align: left;
margin: 0px;
padding: 0px;
}

.burger-menu{
    width: 16px;
    height: 21px;
    padding: 10px;
    background-color: #03264C;
    border-radius: 12px;
    margin: 50%;
    margin-block: 0%;
    color: white;
    font-size: 20px;
}

.p-cuotas {
    text-align: center;
    margin: auto;
    font-size: 80%;
}

.logo {
width: 50%;
margin: 15px 1px 0px 1px;
padding: 10px;
}

.barra-navegacion{
    width: 50%;
}

.imagen{
    width: 100%;
   /*  height: 300px; */
    box-sizing: border-box;
}

footer{
    text-align: center;
    width: 95%;
}

.icono-footer{
    width: 2em;
    margin-bottom: 10px;
}

.copyright{
    font-size: 12px;
}

main {
    text-align: center;
    width: 90%;
}

article {
    margin: 10px;
    background-color: #ebebeb;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.icono-envio{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }
   
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    right: -40%;
    top: -15px;
}   



/* Tablet */
@media (min-width: 361px){
    .descripciones{
    display: none;
}
    nav {
    display: none;
}
}
 

/* Notebook/Computadora */
@media (min-width: 769px) {
    body {
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}
    .burger-menu {
    display: none;
}
.descripciones{
    display: block;
}
    nav {
    display: block;
}
.caja3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.caja4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
}; 